body {
background-color: black; 
}
.row {
}

.container{
  clear: right;
  background-color: black;
  font-size: 12px;
  font-style: oblique;
}

.topbox {
  background-color: white;
  padding-bottom: 20px;
  font-weight: bold;
  border-radius: 1px;
  border: 1px;
  border-color: black;
}

.bottombox {
  background-color: white;
  font-weight: bold;
}

select{
  min-width: 90%;
  max-width: 90%;
  font-weight: normal;
  font-size: 10px;
}

p{ 
  font-weight: normal
}

label{
  display: block;
  color: gray;
}
.nav {
  background-color: white;
}
.row::after{
  content: "";
  clear: both;
  display: block;
}

#map-canvas {
  height: 65vh;
  display:block;
}

@media screen and (min-width: 300px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      float : left;
      width : $i / 12 * 100%;
    }
  }
}

@media screen and (min-width: 600px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      float : left;
      width : $i / 12 * 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      float : left;
      width : $i / 12 * 100%;
    }
  }
}

